<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary">
      </ion-menu-button>
    </ion-buttons>




    <!-- con esto tenemos funcionalidad de neustro boton pero no es la forma mas sencilla
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    -->
    <ion-title>Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  <!-- 
  <ion-button routerLink="/alert">
    ir a alert
  </ion-button>
  <ion-button routerLink="/action-sheet">
    ir a action sheet
  </ion-button>
  -->
</ion-content>
