<ion-app>
  <ion-menu contentId="main-content" menuId="first" side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>Contenido de Menu</ion-title>
        </ion-toolbar>

      </ion-header>
      <ion-content class="ion-padding">
        <ion-list>
          <ion-menu-toggle *ngFor="let c of componentes|async">
            <ion-item [routerLink]="c.redirectTo" 
                      detail>
              <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
                       {{c.name}}             
            </ion-item>
          </ion-menu-toggle>        
        </ion-list>
      </ion-content>
    </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
