<app-header titulo="Cards">

</app-header>
<ion-content [fullscreen]="true">
    <ion-card mode="ios">
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <img src="https://imagenes.elpais.com/resizer/xZp8bB50geCPq_6Wdyk72dSLlvc=/980x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/K4QAJD5DN5DU5OMLUKOTGT736A.jpg" />
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Here's a small text description for the card content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Maracador</ion-label>
        </ion-item>
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis, ipsum!
        </ion-card-content>
      </ion-card>
</ion-content>
